.header {
	background-color: $light-main;
	
	&__container {
		height: 51.0vw;
	}

	img {
		position: absolute;
		width: 100%;
		-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(73, 145, 179, 0.963)));
		mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(73, 145, 179, 0.967));
		height: 51.0vw;
	}

	&__tittle {
		position: absolute;
		margin-left: $document-margin-left;
		margin-top: 19%;
		transition: 0.4s;
	}
	&__description {
		position: absolute;
		margin-left: $document-margin-left;
		margin-top: 29%;
		transition: 0.4s;
	}
	&__button {
		position: absolute;
		margin-left: $document-margin-left;
		margin-top: 39%;
		transition: 0.4s;
	}
}
